 <!-- page1 -->

{% extends 'base.html' %}

{% block title %}Page 1{% endblock %}

{% block content %}
    <pre>
<h1>Про мене</h1>
<p>Якщо ви шукаєте талановитого веб-розробника, ви знайшли його! Я маю різноманітні навички у розробці веб-сайтів та додатків.</p>
<p>Моя експертиза включає в себе HTML, CSS, JavaScript, Python, використання Flask та Bootstrap для швидкої розробки стильового та функціонального веб-застосунку.</p>
<p>Зв'яжіться зі мною, і я допоможу вам створити прекрасний веб-проект!</p>
       <img src="{{ url_for('static',filename='images.jpg') }}" alt="">
    </pre>>
{% endblock %}
