 <!-- page2 -->

{% extends 'base.html' %}

{% block title %}Page 2{% endblock %}

{% block content %}
    <pre>
<h1>Мої проекти</h1>
<p>Я працюваа над численними проектами у сфері веб-розробки. Ось кілька з них:</p>
<ul>
    <li><strong>Проект 1:</strong> Розробка веб-сайту для невеликої компанії з послуг в сфері туризму.</li>
    <li><strong>Проект 2:</strong> Створення онлайн-магазину для продажу товарів з ручної роботи.</li>
    <li><strong>Проект 3:</strong> Розробка корпоративного веб-застосунку для великої IT-компанії.</li>
</ul>
<p>Я завжди відкрита до нових викликів та готова розвивати свої навички.</p>
    </pre>>
{% endblock %}
